@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #795A47;
}

h1 {
    color: #EBDCB2;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

p {
    color: #C9A66C;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.actionBtn {
    cursor: pointer;
    width: 200px;
    color: #662E1D;
    font-weight: 600;
    font-family: inherit;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #EBDCB2;
    outline: none;
    border: none;
}

img {
    width: 600px;
}